In [ ]:
# we have pandas, matplotlib, numpy
# to install any package use pip install package name
# to verify if one is using the terminal, they can use pip show package name or import package name as alias assigned then after print(alias._version_)
# pandas is a python library used for working 






# Handling CSV files with python's built-in csv module
# what is CSV

In [ ]:
#read CSV file

# Pandas
# Numpy

In [4]:
import pandas as pd
# reading a csv file
df = pd.read_csv("data.csv")

#display basic infor
df.info()

df.head(5)
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
Duration    0
Pulse       0
Maxpulse    0
Calories    5
dtype: int64

In [6]:
# check wrong formats
print(df.dtypes)

Duration      int64
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

In [ ]:
# check for non numeric values in numeric columns
for col in ["Duration", "Pulse", "Maxpulse", "Calories"]:
    if not pd.api.types.is_numeric_dtype(df[col])

In [5]:
# wrong data
# check for negative values in numeric columns
for col in ["Duration", "Pulse", "Maxpulse", "Calories"]:
    if (df[col]<0).any():
        print(f"Negative values found in columns: {col}")

In [ ]:
# duplicates

In [8]:
# fill empty values with mean for numeric columns
for col in ["Duration", "Pulse", "Maxpulse", "Calories"]:
    df[col].fillna(df[col].mean(), inplace=True)
    print(df.isnull().sum())

Duration    0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64
Duration    0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64
Duration    0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64
Duration    0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

C:\Users\hp\AppData\Local\Temp\ipykernel_15604\1164934047.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)

In [ ]:
# recommendations

# handling empty cells. Do not delete empty cells, just fill them. you find the average of the empty cells

In [10]:
# EDA E xploratory Data Analysis
# check for the shpe of the data set
df.shape

(169, 4)

In [11]:
#summary statistics
print("summary statistics:")
df.describe()

summary statistics:

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   169.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   262.385991
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   253.300000
50%     60.000000  105.000000  131.000000   321.000000
75%     60.000000  111.000000  141.000000   384.000000
max    300.000000  159.000000  184.000000  1860.400000

In [13]:
# data visualization quikest way to make sense out of the data
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#histogram of "duration
# set up the figure size
plt.figure(figsize=(15,10))
# Histogram of "duration
plt.subplot(2, 2, 1)
sns.histplot(df["Duration"], bins=)

In [ ]:
#data preprocessing or data cleaning
#bd data handling
# 1.empty values
 # 2.wrong formats   30/05/2025    30052025
 # 3.wrong data       Age 23    -23    123,
 # 4.duplicates   more entries for the same person